/* navbar */
#background-top {
    background-image: url('/img/jumbo.png');
    background-size: cover;
    height: 570px;
}

nav,
footer #footer-1,
footer #footer-2,
footer hr {
    max-width: 1230px;
}

a {
    text-decoration: none;
}

.central-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav {
    height: 77px;
    /* background-color:aquamarine; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: 1.3em;
}

nav #logo {
    width: 150px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #link {
    width: 550px;
    height: 77px;
}

nav #link ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav #link ul li {
    min-width: 80px;
    height: 30px;
}

nav #link ul li a {
    color: white;
}

nav #login {
    width: 110px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #login div {
    width: 75px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}

/* /navbar */

/* header */
header {
    max-width: 800px;
    min-height: 260px;
    margin: 0 auto;
    padding-top: 135px;
}

header #title {
    min-height: 40px;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 4em;
}

header #header-paragraph {
    max-width: 770px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    line-height: 1.8em;
}

header #header-button {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

header #header-button #download {
    height: 50px;
    width: 200px;
    background-color: white;
    font-size: 1.7em;
    color: black;
    border-radius: 30px;
}

header #header-button #open-in-browser {
    height: 50px;
    width: 300px;
    background-color: #353942;
    border: none;
    font-size: 1.7em;
    color: white;
    border-radius: 30px;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .wave {
    opacity: 3.7%;
}

main #reverse-image {
    transform: rotate(180deg);
}

main .background-section {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main #section-1,
main #section-2,
main #section-3 {
    max-width: 1230px;
    min-height: 680px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

main #section-1 h2,
main #section-2 h2,
main #section-3 h2 {
    font-size: 4em;
    padding-bottom: 0.6em;
}

main #section-1 p,
main #section-2 p,
main #section-3 p {
    font-size: 1.8em;
    line-height: 1.4em;
}




main #section-1 .section-img {
    height: 440px;
    width: 630px;
}

main #section-1 .section-text {
    height: 440px;
    width: 420px;
}

main #section-2 .section-img {
    height: 440px;
    width: 630px;
}

main #section-2 .section-text {
    height: 440px;
    width: 420px;
}

main #section-3 .section-img {
    height: 440px;
    width: 630px;
}

main #section-3 .section-text {
    height: 440px;
    width: 420px;
}

main #last-section {
    min-height: 1400px;
}

main #last-section #last-section-text {
    margin-top: 155px;
}

main #last-section #last-section-text h2 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    font-size: 4em;
}

main #last-section #last-section-text p {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
}

main #last-section #last-section-img {
    height: 630px;
    width: 1150px;
    background-image: url('/img/item4-big.svg');
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 100px;
}

main #last-section #last-section-img img {
    margin: 0 auto;
}

main #last-section #last-section-button {
    width: 650;
}

main #last-section #last-section-button #strong {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    background-image: url('/img/stars.svg');
    background-size:contain;
}

main #last-section #last-section-button #last-link {
    height: 50px;
    width: 200px;
    background-color: #7289da;
    margin: 0 auto;
    border-radius: 30px;
}

main #last-section #last-section-button #last-link a {
    color: white;
    font-size: 1.8em;
}

footer {
    background-color: #23272a;
    height: 642px;
}

footer #footer-1 {
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 110px;
    margin-bottom: 35px;
    background-color: darkorange;
}

footer #footer-type-1 {
    height: 170px;
    width: 235px;
    background-color: pink;
}

footer .footer-type-2 {
    height: 300px;
    width: 150px;
    background-color: palevioletred;
}

footer .footer-type-2 ul {
    list-style-type: none;
}

footer #footer-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
    background-color: darkorange;
}

footer hr {
    font-size: 1px;
    color: aliceblue;
    margin: 0 auto;
}

footer #footer-2 #logo-2 {
    height: 40px;
    width: 140px;
    background-color: bisque;
}

footer #footer-2 #registration {
    height: 40px;
    width: 90px;
    background-color: antiquewhite;
}